body {
	background-color: gray;
	margin: 0px;
	padding: 0px;
}
.top-header {
	height: 30px;
	background-color: white;
}
.header {
	background-color: #4c9391 ;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: sticky;
	display: block;
	z-index: 9;
	top: 0;
	padding: 0px;
	margin: 0px;
}

.header-left {
	height: 100px;
}

.top-header ul > li > a{
	text-decoration: none;
	color: black;
}

.top-header ul > li > a:hover{
	color: white;
}

.swiper {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: block;
}