html {
  scroll-padding-top: 130px; /* Header yüksekliğini ayarla */
  scroll-behavior: smooth;
}
@media (max-width: 768px){
	html {
	  scroll-padding-top: 220px; /* Header yüksekliğini ayarla */
	}
}

body {
	background-color: black;
	margin: 0px;
	padding: 0px;
}
.top-header {
	background-color: black;
}
.header {
	background-color: black ;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: sticky;
	display: block;
	z-index: 9;
	top: 0;
	padding: 0px;
	margin: 0px;
}
.top-header ul > li > a{
	text-decoration: none;
	color: white;
}

.top-header ul > li > a:hover{
	color: #4c9391;
}

.footer {
	height: 100%;
}
.cns-hd--color {
	color: #009b8f;
}
.map {
	max-width:100%;
}
